<div class="nav-bar">
  <div class="logo">
    <a href="#"><%= image_tag 'heron-logo.png' %></a>
  </div>
  <div class="main-menu">
    <ul class="categories-list">
      <li><a href="#">Alimentation</a></li>
      <li><a href="#">Beauté</a></li>
      <li><a href="#">Décoration</a></li>
      <li><a href="#">Mode</a></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
    </ul>
    <ul class="icon-menu">
      <li class="icon"><a href="#"><%= image_tag 'user-icon.svg' %></a></li>
      <li class="icon"><a href="#"><%= image_tag 'love-list-icon.svg' %></a></li>
      <li class="icon"><a href="#"><%= image_tag 'shopping-bag-icon.svg' %></a></li>
      <li><a href="#">EN</a></li>
    </ul>
  </div>
</div>
