<div class="nav-bar">
  <div class="burger-menu">
    <ul>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="burgermenu">
          <%= image_tag 'open-menu.svg' %>
        </a>
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <div class="overlay-left">
              <div class="logo">
                <a href="#"><%= image_tag 'heron-logo.png' %></a>
              </div>
              <div class="overlay-menu">
                <p>Produits</p>
                <ul>
                  <% categories.each do |category|%>
                    <li><%= link_to category.name, category_products_path(category.id) %></li>
                  <% end %>
                </ul>
                <p><a href="#">Boutiques</a></p>
                <p><a href="#">Mon compte</a></p>
                <p><a href="#">Contact</a></p>
              </div>
            </div>
          </div>
          <div class="closebtn">
            <a href="#"><%= image_tag 'close.svg' %></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="logo">
    <a href="#"><%= image_tag 'heron-logo.png' %></a>
  </div>
  <div class="main-menu">
    <ul class="categories-list">
      <% categories.each do |category|%>
        <li><%= link_to category.name, category_products_path(category.id) %></li>
      <% end %>
    </ul>
    <ul class="icon-menu">
      <li class="icon" id="connect-user"><a href="#"><%= image_tag 'user-icon.svg' %></a></li>
      <li class="icon"><a href="#"><%= image_tag 'love-list-icon.svg' %></a></li>
      <li id="shopping-bag"><%= link_to cart_path(@cart), class: 'icon' do %>
        <%= image_tag 'shopping-bag-icon.svg'%>
        <% end %>
      </li>
      <li><a href="#">FR</a></li>
    </ul>


  </div>
  <div class="mobile-icon-menu">
    <ul class="icon-menu">
      <li class="icon" id="shopping-bag"><a href="#"><%= image_tag 'shopping-bag-icon.svg' %></a></li>
    </ul>
  </div>
</div>
<div id="user-menu">
  <% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, method: 'DELETE', class: 'hidden' %>
  <% else %>
  <ul>
    <li><%= link_to 'Log in',  new_user_session_path, class: 'hidden'%></li>
    <li><%= link_to 'Sign up', new_user_registration_path, class: 'hidden'%></li>
  </ul>
  <% end %>
</div>
