<div class="nav-bar">
  <div class="burger-menu">
    <ul>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="burgermenu">
          <%= image_tag 'open-menu.svg' %>
        </a>
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <div class="overlay-left">
              <div class="logo">
                <a href="/"><%= image_tag 'heron-logo.png' %></a>
              </div>
              <div class="overlay-menu">
                <p>Management</p>
                <ul>
                  <<li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/inventory">Inventory</a></li>
                  <li><a href="/order">Orders</a></li>                
                </ul>
                <p><a href="#">Account</a></p>
              </div>
            </div>
          </div>
          <div class="closebtn">
            <a href="#"><%= image_tag 'close.svg' %></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="logo">
    <a href="/"><%= image_tag 'heron-logo.png' %></a>
  </div>
  <div class="main-menu">
    <ul class="categories-list">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/order">Orders</a></li>
    </ul>
    <ul class="icon-menu">
      <li><a href="#">Account</a></li>
      <li><a href="#">EN</a></li>
    </ul>


  </div>
  <div class="mobile-icon-menu">
    <ul class="icon-menu">
      <% if @cart.line_items.length == 0 %>
        <li id="shopping-bag"><%= link_to cart_path(@cart), class: 'icon' do %>
          <%= image_tag 'shopping-bag-icon-white.svg', class: 'bag-img' %>
          <span class="num-item-in-cart no-display">0</span>
          <% end %>
        </li>
      <% else %>
        <li id="shopping-bag"><%= link_to cart_path(@cart), class: 'icon' do %>
          <%= image_tag 'shopping-bag-icon-black.svg', class: 'bag-img' %>
          <span class="num-item-in-cart"><%= total_cart_items %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div id="user-menu">
    <%= link_to 'Log out', destroy_user_session_path, method: 'DELETE', class: 'hidden' %>
  <% if merchant_signed_in? %>
  <% else %>
  <ul>
    <li><%= link_to 'Log in',  new_user_session_path, class: 'hidden'%></li>
    <li><%= link_to 'Sign up', new_user_registration_path, class: 'hidden'%></li>
  </ul>
  <% end %>
</div>
