<div class="content">
  <div class="header-inventory">
    <form method="get" action="/inventory">
      <div class="search-input">
        <span class="iconify" data-icon="ei:search" data-inline="false"></span>
        <input type="text" value="<%= @keyword %>" name="search">
      </div>
    </form>
    <%= link_to 'Add Product', new_product_path, class: 'add-cart-btn form-btn' %>
  </div>
  <div class="inventory-list">
    <% @products.each do |product| %>
      <div class="inventory-product-card">
        <img src="<%= cl_image_path product.photos[0].key %>">
        <div class="inventory-product-name">
            <%= link_to category_product_path(@category, product) do %>
              <h4><%= product.name %></h4>
            <% end %>
            <h4><%= @category.name %></h4>
        </div>
        <div class="inventory-product-details">
          <h4>Stock</h4>
          <% total = 0 %>
          <% product.product_variants.each { |variant| p total += variant.stock_qty.to_i } %>
          <p><%= total %></p>
        </div>
        <div class="inventory-product-details">
          <h4>SKU</h4>
          <%= product.sku %>
        </div>
      </div>
    <% end %>
  </div>
</div>
