<div>
  <div class="merchant-form-message">
    <h1>Merchant Application</h1>
    <h6>Heron Market pride itself in offering products and promoting brands
      whose value align with ours. If one of the following apply to you,
      you are more than welcome to apply and <strong>
      let's connect!</strong>
    </h6>
  </div>
</div>
<%= simple_form_for(@post) do |f| %>
<div class="double-input">
  <div class="merchant-form-input">
    <%= f.input :first_name, placehoder: "First Name" %>
  </div>
  <div class="form-spacing"></div>
  <div class="merchant-form-input">
    <%= f.input :last_name, placehoder: "Last Name" %>
  </div>
</div>
<div>
  <div>
    <%= f.input :email %>
  </div>
</div>
<div class="double-input">
  <div class="merchant-form-input">
    <%= f.input :location %>
  </div>
  <div class="form-spacing"></div>
  <div class="merchant-form-input">
    <%= f.input :category_id, label: "Category", collection: Category.all %>
  </div>
  <div>
  </div>
</div>
<div>
  <div>
    <%= f.input :website %>
  </div>
</div>
<div>
  <div>
    <%= f.association :labels, as: :check_boxes, collection: Label.all, wrapper: :vertical_collection_inline %>
  </div>
</div>
<div class="double-input">
  <div class="merchant-form-input">
    <%= f.input :instagram %>
  </div>
  <div class="form-spacing"></div>

  <div class="merchant-form-input">
    <%= f.input :facebook %>
  </div>
</div>
<div>
  <div>
    <%= f.input :description, label: "Describe your business" %>
  </div>
</div>
<div>
  <div>
    <%= f.submit "APPLY", class: "add-cart-btn apply-btn" %>
  </div>
</div>
<% end %>

