<h1>New Merchant Request</h1>

<ul>
  <li>First Name:<%= @post.first_name %></li>
  <li>Last Name: <%= @post.last_name %></li>
  <li>Email: <%= @post.email %></li>
  <li>Location: <%= @post.location %></li>
  <li>Category: <%= @post.category.name %></li>
  <li>Labels: <% @post.labels.each do |label| %>
    <%= label.name %>,
  <% end %>
  </li>
  <li>Website: <%= @post.website %></li>
  <li>Instagram: <%= @post.instagram %></li>
  <li>Facebook: <%= @post.facebook %></li>
  <li>Description: <%= @post.description %></li>
</ul>


