<h1>New Merchant Request</h1>

<ul>
  <li><%= @post.first_name %></li>
  <li><%= @post.last_name %></li>
  <li><%= @post.email %></li>
  <li><%= @post.location %></li>
  <li><%= @post.category_id %></li>
  <li><%= @post.labels %></li>
  <li><%= @post.website %></li>
  <li><%= @post.instagram %></li>
  <li><%= @post.facebook %></li>
  <li><%= @post.description %></li>
</ul>

