<div class="content">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </div>
  <div class="header">
    <h1><%= @category.name %></h1>
  </div>
  <div class="refine-results">
    <div id="sort"><p>Sort by:</p></div>
    <div class="search-bar">
      <div id="search-icon" style="background-image: url(<%= image_path 'search-icon' %>)""></div>
      <input type="search" id="search-input" placeholder='Search'>
    </div>
  </div>
  <div class="list">
    <div class="filters">
      <h5>Category</h5>
      <ul>
      <% @category.sub_categories.each do |sub_category| %>
      <div class="filter">
        <li><%= sub_category.name %></li>
        <li><%= sub_category.products.count %></li>
      </div>
      <% end %>
      </ul>
    </div>
    <div class="product-list">
      <% @products.each do |sub_category_products| %>
        <% sub_category_products.each do |product|   %>
            <div class="product-card">
              <div class="product-img" style ="background-image: url(<%= product.photo_1 %>)">
                <div class="price">
                  <p><%= product.price %>$</p>
                </div>
                <div class="product-icons">
                  <div class="icon-btn">
                    <a href="#"><%= image_tag 'love-list-icon'%></a>
                  </div>
                  <div class="icon-btn">
                    <a href="#"><%= image_tag 'shopping-bag-icon' %></a>
                  </div>
                </div>
              </div>
              <div class="product-infos">
                <%= link_to category_product_path(@category, product) do %>
                  <h4><%= product.name %></h4>
                <% end %>
                <p><%= product.merchant.name %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<!-- category name -->
<h4></h4>
<!-- list of the sub categories -->




