<div class="content">
  <%= simple_form_for(@product) do |f| %>
    <div class="photo-preview">
      <div class="picture-creation">
        <%= image_tag "", width: 200, height: 300, class: "hidden photo-preview"%>
        <%= f.input :photo_1, as: :file, input_html: { value: nil, class: 'hidden photo-input'}, label_html: { class: 'upload-photo'}, label: '+' %>
        <i class="fas fa-minus-circle delete hidden"></i>
      </div>
      <div class="picture-creation">
        <%= image_tag "", width: 200, height: 300, class: "hidden photo-preview"%>
        <%= f.input :photo_2, as: :file, input_html: { value: nil, class: 'hidden photo-input'}, label_html: { class: 'upload-photo hidden'}, label: '+' %>
        <i class="fas fa-minus-circle delete hidden"></i>
      </div>
      <div class="picture-creation">
        <%= image_tag "", width: 200, height: 300, class: "hidden photo-preview"%>
        <%= f.input :photo_3, as: :file, input_html: { value: nil, class: 'hidden photo-input'}, label_html: { class: 'upload-photo hidden'}, label: '+' %>
        <i class="fas fa-minus-circle delete hidden"></i>
      </div>
      <div class="picture-creation">
        <%= image_tag "", width: 200, height: 300, class: "hidden photo-preview"%>
        <%= f.input :photo_4, as: :file, input_html: { value: nil, class: 'hidden photo-input'}, label_html: { class: 'upload-photo hidden'}, label: '+' %>
        <i class="fas fa-minus-circle delete hidden"></i>
      </div>
    </div>
    <div class='category-form-group'>
      <%= f.input :category, input_html: { value: nil }, as: :radio_buttons, collection: Category.all %>
      <%= f.association :sub_category, wrapper_html: { class: "hidden fashion-sub sub-categories-form" }%>
      <%#= f.input :sub_category_id, collection: SubCategory.where('category_id = 2'), wrapper_html: { class: "hidden beauty-sub sub-categories-form" }%>
      <%#= f.input :sub_category_id, collection: SubCategory.where('category_id = 3'), wrapper_html: { class: "hidden food-sub sub-categories-form" }%>
      <%#= f.input :sub_category_id, collection: SubCategory.where('category_id = 4'), wrapper_html: { class: "hidden home-sub sub-categories-form" }%>
    </div>
    <%= f.input :label_ids, as: :check_boxes, collection: Label.all, label: 'Label'%>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :sku %>
    <%= f.input :price_cents %>
    <%= f.input :size, collection: ['One Size', 'Diffrent Sizes'] %>
    <div class="diffrent-sizes hidden">
      <%= f.input :stock_XS, as: :integer, input_html: { value: nil }%>
      <%= f.input :stock_S, as: :integer, input_html: { value: nil }%>
      <%= f.input :stock_M, as: :integer, input_html: { value: nil }%>
      <%= f.input :stock_L, as: :integer, input_html: { value: nil }%>
      <%= f.input :stock_XL, as: :integer, input_html: { value: nil }%>
    </div>
    <%= f.submit 'Add product', class: "add-cart-btn"%>
  <% end %>
</div>
