<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Héron Marketplace</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if controller_name == "pages" && action_name == "home" %>
      <%= render 'shared/navbar', :categories => Category.all %>
    <% elsif controller_name == "carts" %>
      <%= render 'shared/navbar', :categories => Category.all %>
    <% elsif controller_name == "products" %>
      <%= render 'shared/navbar', :categories => Category.all %>
    <% elsif user_signed_in? %>
      <%= render 'shared/navbar', :categories => Category.all %>
    <% elsif !merchant_signed_in? %>
      <%= render 'shared/navbar', :categories => Category.all %>
    <% else %>
      <%= render 'shared/navbar_admin' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
